// Global
$background-color: #fff;
// Layout/Boxes
$top-box-shadow: 0 8px 6px -6px #000;
$blockquote-bg-color: #fff;
$blockquote-box-shadow: 0 0 6px rgba(0,0,0,0.5);
$image-box-shadow: -3px 5px 5px rgba(100, 100, 100, 0.25), 3px 5px 5px rgba(100, 100, 100, 0.25);
