$top-height: 128px;

#top {
  width: 100%;
  height: $top-height;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;

  $experimental-support-for-svg: true;
  @include box-shadow($top-box-shadow);
  @include filter-gradient(#ffffff, #54ffff, vertical);
  @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0.85) 75%,rgba(255,255,255,0.33) 100%));
  @include transition(all 1s ease-in-out);
}

#top.panel {
  background-color: #fff;
  height: 320px;
}

#title {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 13;
  padding-right: 31px;
  color: $title-color;
  font: $title-font;
  text-shadow: $title-text-shadow;

  @include transition(all 1s ease-in-out);
}

#title.panel {
  color: #fff;
  text-shadow: #f5f5f5 1px 1px;
}

#epigraph {
  position: fixed;
  top: 128px;
  right: 0;
  padding: 1em 31px 1em 1em;
  color: $epigraph-color;
  font: $epigraph-font;
  text-shadow: $epigraph-text-shadow;
  z-index: 5;

  @include opaque;
  @include transition(all 1s ease-in-out);

  .cont {
    width: 100%;
    display: inline-block;
    text-align: right;

    &:before { content: '[ '; }
  }
}

#epigraph.panel {
  text-shadow: none;

  @include transparent;
}
