<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="iem7"><![endif]-->
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="pt-BR"><!--<![endif]-->

{% include head.html %}

<body>
  <header id="top">
    <h1 id="title"><a href="{{ site.root }}/">{{ site.title }}</a></h1>
  </header>

  <q id="epigraph">Onde é que há gente no mundo?</q>

  <div id="container" class="container_16">
    <div id="box" class="grid_12 prefix_1 suffix_3">
      {{ content | expand_urls: site.root }}
    </div>
  </div>
</body>
</html>
