---
layout: default
---

<nav id="navigation">
  <a href="{{site.root}}/" title="Página principal">&#8962;</a>
{% if paginator.next_page %}
  <a href="{{paginator.next_page}}" title="Mais antigas">&larr;</a>
{% endif %}
{% if paginator.previous_page %}
  <a href="{{paginator.previous_page}}" title="Mais recentes">&rarr;</a>
{% endif %}
  <a href="{{site.root}}/archives" title="Arquivo">&#9744;</a>
</nav>

{% assign index = true %}
{% for post in paginator.posts %}
{% assign content = post.content %}
  <article>
    {% include article.html %}
  </article>
{% endfor %}
